<!doctype html>
<html>
    <head>    
        
        <title>{% assign title_is_not_empty = page.title | is_not_empty %}{% if title_is_not_empty %}{{ page.title }} - {% endif %}{{ site.title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="google" content="notranslate" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i" rel="stylesheet">
        <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}">
   
    </head>
   
    <body>
        
        {{ content }}
        <!-- Scripts -->
        <script src="{{ 'assets/js/plugins.js' | relative_url }}"></script>
        <script src="{{ 'assets/js/main.js' | relative_url }}"></script>
        
        <div hidden id="snipcart" data-api-key="<your_public_api_key>"></div>

        <script src="https://cdn.snipcart.com/themes/v3.0.0-beta.3/default/snipcart.js"></script>
        <link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.0.0-beta.3/default/snipcart.css" />
        
    </body> 
</html>
